
h1{
  color:white;
  background: black;
  font-family: 'Libre Baskerville', serif;
}
body{
  background: black;
}
img{
border: 5px solid white;
width: 100%;
}
p{
  color: white;
}
div{
  width: 50%;
  margin-left: 25%;
 text-align: center;
 text-transform: uppercase;
 margin-top: 60px;
}